<% provide(:title, "Contest Categories") %>

<table>
  <thead>
    <tr>
      <th><%= ContestCategory.human_attribute_name(:category) %></th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody>
    <% @contest_categories.each do |contest_category| %>
    <tr>
      <td><%= contest_category.category.name %></td>
      <td>
        <%= link_to "Delete", contest_category_path(contest_category),
          method: :delete, class: "button"
        %>
      </td>
    </tr>
    <% end %>
  </tbody>
</table>
