<% provide(:title, "Performance #{@performance.id}") %>

<p>Edit code: <code><%= @performance.edit_code %></code></p>

<h3>Musicians</h3>

<% @performance.appearances.each do |appearance| %>
  <p><%= appearance.participant.full_name %></p>
<% end %>

<h3>Pieces</h3>

<% @performance.pieces.each do |piece| %>
  <p><%= "#{piece.composer_name}: #{piece.title}" %></p>
<% end %>
